@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
body{
    background-color: white;
    height: 100vh;
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.main{
    height: 800px;
    width: 375px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.orange{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
    text-align:left;
    padding-left: 25px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.light-g{
    background-color: hsl(184, 100%, 22%);
    text-align:left;
    padding-left: 25px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.dark-g{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
    text-align:left;
    padding-left: 25px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.title{
    font-family: 'Big Shoulders Display', cursive;
    Font-size: 25px;
    color:hsl(0, 0%, 95%);
    font-weight: bold;
}
.text{
    font-family: Lexend Deca;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    width: 280px;
}
button{
    border-radius: 20px;
    border-color: hsla(0, 0%, 100%, 0.75);
    background-color:hsla(0, 0%, 100%, 0.75) ;
    height: 40px;
    width: 150px;
}
button:hover{
   background-color: transparent;
}
#a1{
    color: hsl(31, 77%, 52%);
}
#a2{
    color: hsl(184, 100%, 22%);
}
#a3{
    color: hsl(179, 100%, 13%);
}
a{
    text-decoration: none;
    font-family: Lexend Deca;
}
a:hover{
    color: white;
}
@media only screen and (min-width: 1024px) {
    .main{
      flex-direction:row;
      align-items: center;
    }
    .orange{
        border-radius: 10px 0px 0px 10px;
        height:350px ;
    }
    .light-g{
        height: 350px;
    }
    .dark-g{
        border-radius: 0px 10px 10px 0px;
        height:350px ;
    }
    }
